<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>CORONA VIRUS TRACKER</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<!--    <link rel="stylesheet" type="text/css" media="all"-->
<!--          href="../../css/gtvg.css" th:href="@{/css/gtvg.css}" />-->
</head>

<body>
<h1>CORONA VIRUS TRACKER APPLICATION</h1>
<p>THIS APPLICATION LIST THE CURRENT CASES REPORTED WORLDWIDE</p>
<p th:text="${testname}"></p>
<table>
    <tr>
        <th>STATE</th>
        <th>COUNTRY</th>
        <th>TOTAL CASES REPORTED</th>
    </tr>
    <tr th:each="locationStat : ${locationStats}">
        <td th:text="${locationStat.state}"></td>
        <td th:text="${locationStat.country}"></td>
        <td th:text="${locationStat.latestTotalCases}"></td>
    </tr>
</table>
</body>

</html>